body {
  font-family:;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

.header-section {
}
.header-link {
    font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: 
}
.header-span{
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-list {
}
.header-item {
}
.header-address {
}
.header-mail {
}
.header-tel {
}
